<mat-stepper class="stepper-container" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <mat-card class="login-card">
            <mat-card-title class="login-card-title">SPA-SHIPMENT</mat-card-title>
            <mat-card-content>
                <form class="login-form">
                    <mat-form-field appearance="outline" class="input-wrapper">
                        <mat-label>Matrícula</mat-label>
                        <input matInput>
                        <mat-icon matSuffix>account_box</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="input-wrapper">
                        <mat-label>Chave de acesso</mat-label>
                        <input matInput>
                        <span mat-icon-button matSuffix>
                            <mat-icon>vpn_key</mat-icon>
                        </span>
                    </mat-form-field>
                    <button class="login-button" mat-flat-button color="primary">Continuar</button>
                </form>
            </mat-card-content>
            <mat-card-footer>
                <button class="access-token-button" mat-stroked-button matStepperNext color="primary">GERAR CHAVE DE ACESSO</button>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" optional>
        <div class="access-token-container">
            <div>
                <h1>Verificação em duas etapas</h1>
            </div>

            <div class="input-access-token">
                <span>Matrícula</span>
                <br>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Ex: X282537" required>
                </mat-form-field>
            </div>
            <div class="input-access-token">
                <span>Código de Verificação Google Authenticator</span>
                <br>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Ex: 232411" required>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious color="primary">Voltar</button>
                <button mat-flat-button matStepperNext color="primary">Enviar</button>
            </div>
        </div>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" optional>
        <div class="access-token-container">
            <h1>Chave de acesso enviada para seu e-mail corporativo</h1>
            <button mat-button onClick="window.location.reload()" color="primary">Ok</button>
        </div>
    </mat-step>
</mat-stepper>