.stepper-container {
  background-color:transparent;
  display: flex;
  position: static;
  align-items: center;
  justify-content: center;

}

.login-card {
  width: 300px;
  text-align: center;
}
.login-card-title{
  padding: 20px;
}
.access-token-button {
  font-size: 14px;
  margin-top: 25px;
  height: 58px;
  width: 100%;
  border-radius: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.access-token-container {
  text-align: center;
  background-color: white;
}
.input-access-token{
padding: 14px;
}

.login-button {
  height: 45px;
  width: 225px;
  margin-top: 20px;
}

.loader {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #1ecd97;
  border-left-color:  #1ecd97;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}